<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    {% load static %}
  <link rel="stylesheet" href="{% static 'main.css' %}">
  </head>
  <body>
    <h1>Welcome to the multiplier app</h1>
    <p>Algorithm = *100</p>
    <button onclick="myfunc()">BLA</button>
    <p></p>
    <form action="{% url 'results' %}">
      {% csrf_token %}
      Input your value: <input type="text" name="user_input">
      <input type="submit" name="submit" value="Click to see the fucking result">
    </form>

    <script type="text/javascript" src="{% static 'main.js' %}"></script>
  </body>
</html>
